For the rest of the game drink with your pinky out. If you forget or get called out, drink again (properly!)
Life card, X is able to give away three drinks they next time they have to drink
For the rest of the game X will now be referred to by their last name anyone who forgets drinks 2
For the next 10 minutes no one can swear, anyone to forget drinks
No one can swear for the rest of the game or you’ll have to wash your mouth out with booze.
X make a rule. This rule must be followed until the end of the game. If you forget or refuse drink 1
Get out of Jail Free. X you can use this once at any time for the rest of the game, if you do not want to drink then yell WHO-DE-WHOO!
Water round. Alright everyone you’ve gotta stay hydrated. Drink some water
Part deaf. For the next 10 cards everyone must yell when talking to X
Nicknames! You cannot refer to anyone by their real name, otherwise drink.
For the next 3 minutes, every phrase has to be said like a question?
X you are the laughter master (until the next anything-master is appointed). Whenever you start laughing, the last one to join in the laughter drinks
X you are the Home-Alone Master (until the next anything-master is appointed). Whenever you pull the home alone face 😱, the last one to pull it drinks.
For the next 5 minutes, any time anyone drinks, they must first pay X a compliment (no repeats).
For the next 3 minutes, every sentence must begin with “yo” and end with “check it”
Two-handed drinking only for the next 5 minutes
For the next 5 minutes, everyone has to be addressed by the name of the person sitting to the left of them.
X you are now the King (master). Until the next anything-master is appointed, no one’s head can be above yours.